.selectE,
.selectN {
    border-inline: none;
    margin: 3px;
}

.input {
    height: 75%;
}

.button {
    margin: 5px 5px 0 5px !important
}

.clearbtn{
    margin: 0.5rem !important
}

.label {
    margin: 3px;
}

.state_listItem{
    margin-left:0rem !important;
    margin-right: 1rem !important;
}

.border {
    /* border-top: 3px solid rgb(216, 178, 178); */
    padding: 4px 0;
    box-sizing: content-box;
    margin: 5px 0;
    align-items: center;
}

.box {
    height: 30px;
    overflow: hidden;
}

.searchBar {
    margin: 15px auto;
    background: #f5f5f5;
    /* border-color: black; */
    padding: 15px;
}

:grobal(.ui.horizontal.list:not(.celled)>.item).listItem {
    margin-left: 1rem !important;
}