.topicBox {
    width: 95vw;
    margin: 5px auto;
    padding: 10px 20px;
    border: 1px solid #000;
}

.topicBoxBold {
    font-weight: bold;
}

.line {
    margin: 10px auto;
    border-bottom: 1.5px solid #4F586B;
    width: 85%;
}

.newhot_title {
    background-color: #696969;
    color: #ffffff;
}