.people>.row>div {
    background: #4f4f4f;
    color: white;
    border: 5px solid white;
    box-sizing: border-box;
    padding: 15px;
}

.people img {
    width: 100%;
}

.dashboard {
    margin: 0 auto;
    background: #4f4f4f;
}

.dashboardcard {
    /* border: 5px solid #fff; */
    padding: 10px;
}

.white {
    color: #fff
}

img.figurePh {
    /* width: 50%; */
    padding: 15%;
}

.line {
    border-bottom: white 2.5px solid;
    padding: 5px 0;
}

:global( .apexcharts-tooltip) {
    color: #000;
}

div.space {
    margin: 10px 0;
}