img {
    margin: 0 auto;
}

.dashboard {
    margin-top: 20px;
}

.dashboardcard {
    border-radius: .28571429rem;
    background: #2E2E2E !important;
}

:global( .apexcharts-tooltip) {
    color: #4F4F4F;
}

div.space {
    margin: 10px 0;
}

.bigSize {
    font-size: 25px;
}

.grayFont {
    color: #4F4F4F
}

.labelContent {
    padding-top: 5px;
}

.center {
    margin: 0 auto;
}

.imgBox {
    margin: 0 auto;
    position: relative;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #cccccc;
}

.scoreCircle {
    height: 100%;
    color: #fff;
    padding: 15%;
    /* margin: 20px; */
}

.term {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-left: 15px;
}

.class{
    margin-top: 3px!important;
}

.policyBorder {
    border-left: 3px solid red;
    padding-left: 5px
}

@media screen and (max-width :768px) {
    .in {
        display: inline;
    }
}