.people {
    width: 80%;
    margin: 0 auto;
}

.people>.row>div {
    background: #404855;
    padding: 5px;
    color: white;
    border: 5px solid white;
    box-sizing: border-box;
}

.people img {
    width: 100%;
}

.card {
    color: black;
}

#SvgjsPath1025{
    background-color: #c5b7a1;
}