.slider_rank img {
    height: 50%;
    width: 50%;
}

.table,
.slider_item {
    padding: 0;
    margin: 25px 0;
    /* height: calc(80vh - 30px); */
}

.slider_item img {
    width: auto;
    height: 65vh;
}

.table :global(div.list-group-item) {
    border: 0.15px #000 solid !important;
    border-top: 0 !important;
}

 :global(.swiper-button-prev),
 :global(.swiper-button-next) {
    color: #999999 !important
}

.slider_item :global(.swiper-container) {
    height: 65vh;
}

.title {
    width: 85%;
    margin: 5px auto;
    padding-top: 5%;
}

.pimg {
    width: 100%;
    margin: auto;
}

.newhot {
    padding: 0;
}

.newhot_title {
    background-color: #999999;
    color: #ffffff;
}

.fire {
    color: red
}

.tab {
    margin-right: 8px;
}