.select{
    border:0;
    width:60px;
    color:#4F586B;
    font-weight: 900;
    margin:0 0 0 86%;
}

.multicolor-bar {
    width: 75%
}

.multicolor-bar .values .value {
    float: left;
    text-align: center;
}

.multicolor-bar .scale .graduation {
    float: left;
    text-align: center;
}

.multicolor-bar .bars .bar {
    float: left;
    height: 10px;
}

.multicolor-bar .bars div.bar:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.multicolor-bar .bars div.bar:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.multicolor-bar .legends {
    text-align: center;
}

.multicolor-bar .legends .legend {
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.multicolor-bar .legends .legend .dot {
    font-size: 25px;
    vertical-align: middle;
}

.multicolor-bar .legends .legend .label {
    margin-left: 2px;
    vertical-align: middle;
}

.topicBox {
    width: 85%;
    margin: 5px auto;
    padding: 10px 20px;
    border: 1px solid #000;
}

.topicBoxBold{
    font-weight: bold;
}

.slider {
    padding: 5px 15%;
    margin-bottom: 30px;
}

.line{
    margin:10px auto;
    border-bottom: 1.5px solid #4F586B;
    width: 85%;
}

.awssld {
    --slider-height-percentage: 30%;
}

.awssld__bullets button{
    margin: 5px 5px 20px;
}

.awssld__content {
    --content-background-color: #fff
}

.awssld__content>img {
    width: auto;
    top: auto;
    left: auto;
}

.GuessYouLike{
    font-weight: bold;
    margin: auto 10%;
}