.navtop {
    border-bottom: 1.4px solid #000000;
    /* text-align: center; */
    /*讓圖片致中 */
    margin: 10px 15px;
}

.navPicture {
    width: 15vw;
    height: auto;
    padding: 15px 0px;
}

.i_dont_know_how_to_name_it {
    color: #000000;
    font-size: 18px;
    font-weight: bolder;
}

.navtop a {
    text-decoration: none;
    color: #000000;
}

.navtop a:hover {
    color: #c0c0c0
}

.searchbar {
    background-color: #dcdff0;
    border: 0;
    height: 22px;
    width: 180px;
    padding: 3px;
    margin: 0;
    outline: none;
}

.down_btn {
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
    border: 0px;
    box-shadow: none;
}

.dropdown_toggle::after {
    content: none;
}

.dropdown_item {
    padding: 0.25rem 0.5rem;
}

a.pageOn {
    color: #c0c0c0;
}