.footer {
    height: 100px;
    width: auto;
    background: #000;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: 10;
    position: relative;
    bottom: 100%;
}

.pagesC {
    min-height: calc(100vh - 100px);
    width: calc(100vw - 30px);
    margin: 0 auto;
    padding: 0 30px
}