.footer {
    height: 100px;
    width: auto;
    background: #000;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: 10;
    position: relative;
    bottom: 100%;
}

.pagesC {
    min-height: calc(100vh - 80px);
    padding: 0 12.5vw;
    background: #F0F0F0;
}

.bread a {
    color: #636363 !important;
}

.content {
    margin-top: 90px;
    padding-top: 20px;
    padding-bottom: 90px;
}