.footer {
    height: 50px;
    width: auto;
    background: #000;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: 10;
    position: relative;
    bottom: 100%;
}

.pagesC {
    min-height: calc(100vh - 150px);
    width: calc(100vw - 30px);
    margin: 0 auto
}