.topicBold {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    padding: 25px 0;
    line-height: 2rem;
}

.lable {
    margin: 3% 0;
    font-weight: 600;
}

img {
    width: 100%;
}

list-group {
    margin-bottom: 5%;
}

.red {
    color: #fec240;    
}

.yellow {
    color: #98c4d1;   
}

.green {
    color: #de4b43;    
}

.size {
    width: 80px;
    height: 80px;
    margin: 0 10px;
}

.redHeart {
    color: red;
}

.heart {
    color: black;
}

:global(.react-pdf__Page__canvas) {
    margin: 0 auto;
}

.input {
    /* margin: 25px 0 !important; */
    width: 65vw;
    border-radius: 5%;
}

.input>textarea {
    height: 25px;
}