.topicBox {
    /* width: 95vw; */
    margin: 5px auto;
    padding: 10px 20px;
    /* border: 1px solid #000; */
    background: white;
}

.topicBox>div {
    font-weight: 400;
}

.topicBoxBold {
    cursor: pointer;
}

.listItem {
    padding: auto 5px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.list {
    background: white;
}