.sign {
    text-align: center;
    height: 100vh;
}

.left>img {
    margin-top: 15px;
    width: 35vw;
    height: auto;
}

.right>img {
    margin-top: 15px;
    margin-left: 5vw;
    width: 30vw;
    height: auto;
}

.sign input,
.sign select {
    width: 20vw;
    border-radius: 5px;
    border: 2px solid #4F586B;
    height: 3vw;
}

.continue {
    background-color: #4F586B;
}

.left {
    background-color: #4F586B;
    color: #FFF;
    text-align: center;
}

h4 {
    margin-top: 15vw;
}

.right>p {
    margin-bottom: 10px;
}

.agree {
    margin: 5vh 0;
}

.sign button,
.sign input {
    width: 20vw;
}

.homeKey {
    width: 5vw;
    margin-right: 300px;
    float: right;
}

h5 {
    display: inline;
}

.need_to_center::before {
    content: '';
    width: 0;
    height: 20vh;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.rule {
    width: 30vw;
    height: auto;
    border: 5px solid #4F586B;
    border-radius: 20px;
    padding: 5px;
}

.login_5 {
    margin: 0 0 5vh 0 !important;
}

.login_1 {
    margin: 0 0 1vh 0 !important;
}

.back{
    background: url("../imgs/login.jpg") left !important;
    background-size: 50vw 100vh!important;
    float: left;
    height: 100vh;
    width:50vw;    
    background-repeat: repeat !important;
}

.form {
    /* background: url("../imgs/login.jpg") center !important;
    float: left; */
    height: 100vh;
    width:100vw;
    background-size: 100% !important;
    background-repeat: no-repeat !important; 
}

.backC {
    padding-left: 5%;
    /* 
    width: 300px !important;
    background: #ffffff !important; */
}