.sign {
    text-align: center;
}

.sign>div {
    margin: 30px 0;
}

img{
    margin-top:15px;
    width: 30vw;
    height:auto;
}


input,select{
    width:20vw;
    border-radius: 5px;
    border: 2px solid #4F586B;
    height: 3vw;
}

#continue{
    background-color: #4F586B;
}

#left{
    background-color: #4F586B;
    color: #FFF;
    text-align: center;
}

h4{
    margin-top:15vw;
}

#right>p{
    margin-bottom: 10px;
}

.sign button,
.sign input {
    width: 20vw;
}

#homeKey{
    width: 5vw;
    margin:0px;
    float: right;
}

h5{
    display: inline;
}