* {
    padding: 0;
}

.sign {
    text-align: center;
    height: 100vh;
}

#left>img {
    margin-top: 15px;
    width: 35vw;
    height: auto;
}

#right>img {
    margin-top: 15px;
    margin-left: 5vw;
    width: 30vw;
    height: auto;
}

input,
select {
    width: 20vw;
    border-radius: 5px;
    border: 2px solid #4F586B;
    height: 3vw;
}

#continue {
    background-color: #4F586B;
}

#left {
    background-color: #4F586B;
    color: #FFF;
    text-align: center;
}

h4 {
    margin-top: 15vw;
}

#right>p {
    margin-bottom: 10px;
}

#remember{
    height: 2vh;
    width: 2vw;
}

.sign button,
.sign input {
    width: 20vw;
}

#homeKey {
    width: 5vw;
    margin: 0px;
    float: right;
}

h5 {
    display: inline;
}

.need_to_center::before {
    content: '';
    width: 0;
    height: 20vh;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}