.textBox {
    position: absolute;
    text-align: left;
    padding-left:5px ;
    width: 25%;
    height: 28px;
    border: 1px solid #000;
    font-weight: 400;
    font-size: medium;
    border-radius: 0;
}

.topicBold{
    font-weight: bold;
    
}

.data{
    margin-bottom: 40px;
    width:auto;
}

.profile {
    width: 25%;
    margin: 10px auto 40px auto;
    padding: 10px 20px;
    font-weight: 400;
}

.pic{
    margin: 20% 30% 5% 30%;
    height: 150px;
    width: 150px;
    border-radius:50%;
    border:none;
}
